body {
    /*background-color: #efefef;*/
    background-image: url("/static/imags/1.jpg");
}

.main {
    background-color: white;
    margin: 30px;

}
.align-right{
    float: right;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.customize-media-body {
    padding-top: 10px;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.alert-danger{
    padding: 10px;
}
.add-margin {
    margin: 10px;
}

.menu {
    color: #999;
}

.menu .icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}
.menu .icon:hover {
    color: #499ef3;
}

.comments {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    margin-left: 25px;
    list-style: none;
    padding-left: 0;
}

.question-hot {
    line-height: 20px;
    margin-left: 25px;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 100%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    padding: 5px;
    margin: 5px 5px;
    display: inline-block;
}

.footer {
    padding: 25px 25%;
    color: #666;
}

.side-list {
    border: 1px solid #c0c4cc;
    padding: 20px 0 0 0;
    margin-top: 25px;
    box-shadow: 2px 2px 8px #c7afc7;
    border-radius: 3%;
}





